* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.main-wrapper {
  width: 990px;
  margin: 0 auto;
}

.main-container {
  font-family: 'Roboto Slab', serif;
}

.card {
  width: 150px;
  height: 200px;
  display: inline-block;
  -webkit-background-size: cover;
  background-size: cover;
  border: 2px solid white;
}

.card.pink {
  background-image: url("pinkbg.png");
  background-color: #F7A8DD;
}

.card.green {
  background-image: url("greenbg.png");
  background-color: #70ECC0;
}

.player1 {
  position: absolute;
  left: 100px;
  top: 100px;
  max-width: 350px;
}

.player2 {
  position: absolute;
  right: 100px;
  top: 100px;
  max-width: 350px;
  text-align: right;
}

.board {
  margin: 100px auto;
  box-shadow: 10px 10px 30px 1px lightgray;
}

.board td {
  width: 150px;
  height: 200px;
  position: relative;
  background-image: url("newbg.png");
  background-color: white;
  -webkit-background-size: cover;
  background-size: cover;
  color: black;
}

.board td.blue {
  background-color: #E74C3C;
}

.board td.red {
  background-color: #2980B9;
}

.card > span {
  width: 50%;
  height: 50%;
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: gray;
  line-height: 100px;
}

.card span.top {
  left: 25%;
  top: 0;
}

.card span.right {
  right: 0;
  top: 25%;
}

.card span.bottom {
  bottom: 0;
  left: 25%;
}

.card span.left {
  left: 0;
  top: 25%;
}

